.afterLogin{
    padding-top: 1em;
    color: rgb(14, 1, 49);
}

.bg-dark {
    background-color: rgb(192, 216, 87);
    color: white;
    opacity: 0.85;
    
   
}


#myButton {
    margin-top: 1em;
}
#ticketTable{
}

#fullcontainer{
    
}

body{
    background-image: url(/pexels-photo-260689.jpeg)  ;
    background-blend-mode: darken;
   
    
}